<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
    <ion-title>FAQs</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <ion-label>How i change my password</ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-label>1) s simply dummy text of the printing and typesetting industry. Lorem Ipsum ha
      s been the industry's standard dummy text ever since the 1500s, when an unknown printer took 
      a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
    </ion-label>
  </ion-item>

  <ion-item-divider>
  <ion-label>shdhfkdsjhfkjdshfkjsd</ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-label>2) s simply dummy text of the printing and typesetting industry. Lorem Ipsum ha
      s been the industry's standard dummy text ever since the 1500s, when an unknown printer took 
      a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</ion-label>
  </ion-item>

  <ion-item-divider>
  <ion-label>jlfkgjlksjgkljlkgf</ion-label>
  </ion-item-divider>

  <ion-item>
    <ion-label>3) s simply dummy text of the printing and typesetting industry. Lorem Ipsum ha
      s been the industry's standard dummy text ever since the 1500s, when an unknown printer took 
      a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</ion-label>
  </ion-item>
</ion-content>
