ion-header>
  <ion-toolbar>
    <ion-title>Add my kids</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="mykids"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Child name</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">ID</ion-label>
    <ion-input></ion-input>
  </ion-item>
<ion-item>
<div class="grid-item">
  <h2>Time and date</h2>
  <ion-datetime show-clear-button="true"></ion-datetime>
</div>
</ion-item>
<ion-list>
  <ion-item>
    <ion-label>skin color</ion-label>
    <ion-select value="black">
      <ion-select-option value="blac">black</ion-select-option>
      <ion-select-option value="white">white</ion-select-option>
      <ion-select-option value="x">white</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>eyes color</ion-label>
    <ion-select value="Black">
      <ion-select-option value="blac">black</ion-select-option>
      <ion-select-option value="white">brown</ion-select-option>
      <ion-select-option value="x">green</ion-select-option>
      <ion-select-option value="x">blue</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Gender</ion-label>
    <ion-select value="Femle">
      <ion-select-option value="blac">Female</ion-select-option>
      <ion-select-option value="white">Male</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button expand="block" [routerLink]="['/menu']">SAVE</ion-button>
</ion-list>