<ion-header>
  <ion-toolbar>
    <ion-title>myaccount</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>ID</ion-label>
    <ion-input placeholder="1112******"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Name:</ion-label>
    <ion-input placeholder="MUnira saud bin munif"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Birthday</ion-label>
    <ion-input placeholder="12-05-2000"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label></ion-label>
    <ion-input placeholder=""></ion-input>
  </ion-item>

  

</ion-content>
