<ion-header>
  <ion-toolbar>
    <ion-title>sing-up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Your ID <ion-text color="danger">*</ion-text></ion-label>
    <ion-input required type="text" oninput="handleFirstNameValue(event)"></ion-input>
  </ion-item>

  <ion-item>
    <ion-datetime monthValues="6,7,8" yearValues="2014,2015" dayValues="01,02,03,04,05,06,08,09,10,11,12,13,14"></ion-datetime>   
  </ion-item>

  <ion-item>
    <ion-label>Password Input</ion-label>
    <ion-input placeholder="placeholder" type="password"></ion-input>
  </ion-item>



  <div class="ion-padding">
    <ion-button  expand="block" type="submit">sing up</ion-button>
  </div> 
  <div class="ion-padding">
    <ion-button expand="block" (click)="goTologgin()">Login</ion-button>
  </div>
  
</ion-content>