<ion-content>
  <ion-header [translucent]="true">
    <ion-toolbar>  
      <ion-title >
      child information
      </ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="childlist"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-card>
      <img src="assets/icon/c1.png" height="150px" width="150px"/>
        <ion-card-content style="color: black; font-family:  'Times New Roman';">
       Full Name: Child 1 <br> 
       Age: 10 <br> 
       Last Seen: The Park <br> 
       Date: sep 21 2021 <br> 
       Time: 12pm <br> 
       Status: Unknowing 
        </ion-card-content>
    </ion-card>
