<ion-header [translucent]="true">
  <ion-toolbar>  
    <ion-title >
     Missing Children  
    </ion-title>
  </ion-toolbar>
  <ion-searchbar>  
  </ion-searchbar>
  <ion-grid >
<ion-row>
<ion-col size="6"> 
  <ion-card >
  <img src="assets/icon/c1.png" height="130px" width="130px"/>
    <ion-card-header>
    <ion-card-title style="color: lightblue; font-size: 20px;font-family: Georgia;">Missing Child 1</ion-card-title>
    </ion-card-header>
    <ion-card-content style="font-size: 16px; color: black;font-family: Georgia;">
      Age: <br> 10 <br>
     Statues: <br> Not Found
    </ion-card-content>
</ion-card> 
</ion-col>


<ion-col size="6">
  <ion-card >
    <img src="assets/icon/c1.png" height="130px" width="130px"/>
    <ion-card-header>
      <ion-card-title style="color: lightblue;font-size: 20px;font-family: Georgia;">Missing Child 2</ion-card-title>
    </ion-card-header>
    <ion-card-content style="font-size: 16px; color: black;font-family: Georgia;">
      Age: <br> 5 <br>
      Statues: <br> Not Found
    </ion-card-content>
  </ion-card>
</ion-col>
</ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col size="6"> 
    <ion-card  >
      <img src="assets/icon/c1.png" height="130px" width="130px"/>
      <ion-card-header>
        <ion-card-title style="color: lightblue;font-size: 20px; font-family: Georgia;">Missing Child 3 </ion-card-title>
      </ion-card-header>
      <ion-card-content  style="font-size: 16px; color: black; font-family: Georgia;">
        Age: <br> 8 <br>
        Statues: <br> Found
      </ion-card-content>
  </ion-card>
  </ion-col>
  <ion-col size="6">
  <ion-card  >
    <img src="assets/icon/c1.png" height="130px" width="130px"/>
      <ion-card-header>
        <ion-card-title style="color: lightblue;font-size: 20px;font-family: Georgia;">Missing Child 4 </ion-card-title>
      </ion-card-header>
      <ion-card-content  style="font-size: 16px; color: black;font-family: Georgia;" >
        Age: <br> 4 <br>
        Statues: <br> Not Found
      </ion-card-content>
    </ion-card>
  </ion-col>
  </ion-row>
  </ion-grid>
</ion-header>

